.asteroids{
    width: 650px;
}

.special__div{
    display: flex;
    justify-content: space-between;
}
.special__nav{
    display: block;
    position: relative;
    top: 100px;
    right: 160px;
}
.special__title{
    font-size: 30px;
    font-weight: bold;
}
.special__list{
    list-style-type: none;
    width: 300px;
    display: flex;
    justify-content: space-between;
}
.special__item{
    background-color: #EBEBEB;
    border-radius: 20px;
    padding: 10px;
    align-items: center;
}
.divs{
    width: 650px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@media (max-width: 550px){
    .asteroids{
        width: 350px;
    }
}