body{
    padding: 0;
    margin: 0;
    color: #898989;
    box-sizing: border-box;
  }
  .container{
    width: 1340px;
    margin: 0 auto;
  }
  .app__div{
    display: flex;
    justify-content: space-between;
  }
@media (max-width: 1000px){
  .container{
    width: 800px;
  }
}  
@media (max-width: 800px){
  .container{
    width: 700px;
  }
}
@media (max-width: 700px){
  .container{
    width: 600px;
  }
}
@media (max-width: 600px){
  .container{
    width: 500px;
  }
}
@media (max-width: 550px){
  .container{
    width: 400px;
  }
  .app__div{
    width: 400px;
    margin: 0 auto;
  }
}
@media (max-width: 400px){
  .container{
    width: 300px;
  }
}




:root {
  --white: rgb(236, 236, 236);
  --blue: rgb(26, 57, 87);
}
body.light {
  --background-color: var(--white);
  --text-color: var(--blue);
  --font-weight: 400;
  /* color: #fff; */
  /* --image: url("./Components/image/nature.jpg"); */
}
body.dark {
  --background-color: var(--blue);
  --text-color: var(--white);
  --font-weight: 500;
  color: black;
  /* --image: url("./Components/image/night.jpg"); */
}
/* #image {
  width: 100%;
  height: 300px;
  margin-top: 50px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  transition: background-image 0.7s ease-in-out;
  background-image: var(--image);
} */
body {
  background: var(--background-color);
  color: var(--text-color);
  font-weight: var(--font-weight);
  transition: background 0.3s ease-in-out, color 0.6s ease-in-out;
}
/* nav {
  padding: 1rem 25%;
  margin: 0 auto;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background: var(--text-color);
} */